# =========================
# Build results
# =========================
bin/
obj/
out/

# =========================
# User-specific files
# =========================
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / VS Code
.idea/
.vscode/

# Visual Studio
.vs/

# =========================
# Logs
# =========================
*.log

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# ASP.NET Core
# =========================
appsettings.Development.json

# =========================
# NuGet
# =========================
*.nupkg
.nuget/
packages/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Publish output
# =========================
publish/

# =========================
# Environment
# =========================
Secret/